@import '../../../style/themes/index';

@map-position-selector-prefix-cls: ~'@{sen-prefix}-position-selector';

@padding-base: 8px;
@tool-max-width: 32px;
@tool-min-width: 24px;
@box-shadow-1: 0 0 2px rgba(60, 73, 97, 0.08), 0 4px 8px rgba(109, 119, 137, 0.16);

.common {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: @box-shadow-1;
}

.@{map-position-selector-prefix-cls} {

  &-search-address {
    position: absolute;
    top: 12px;
    left: 12px;
    transform: translateZ(0);
    box-shadow: @box-shadow-1;

    .ant-input-affix-wrapper {
      padding: 2px 8px;
      height: 24px;
      font-size: 12px;
      border: none;
      box-shadow: none;

      input.ant-input {
        font-size: 12px;
        line-height: 20px;
      }
    }

    .ant-input-group>.ant-input:first-child {
      line-height: 24px;
      padding: 4px 12px;
      border: none !important;

      &::-webkit-input-placeholder {
        color: rgba(10, 27, 57, 0.6);
      }
    }

    .ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button {
      border: none !important;
    }

    .ant-input:focus,
    .ant-input-focused {
      box-shadow: none !important;
    }

    .ant-input-search-icon::before {
      border-left: none;
    }

    .ant-input-search-icon {
      padding: 0;
    }
  }

  &-city-selector {
    position: absolute;
    top: 12px;
    left: 260px;
  }

  &-city-selector-content {
    padding: 5px 12px;
    font-size: 14px;
    line-height: 22px;
    color: #0A1B39;
    cursor: pointer;
    .common();

    .anticon {
      margin-left: 4px;
      color: rgba(10, 27, 57, 0.8);
    }

    &:hover {
      color: #2B6DE5;

      .anticon {
        color: #2B6DE5;
      }
    }
  }

  &-city-selector-content-visible {
    .anticon {
      transform: rotate(180deg);
    }
  }


  &-tools {
    position: absolute;
    bottom: @padding-base;
    right: @padding-base;

    .anticon {
      color: fade(#0A1B39, 60%);
    }

    /** ant 样式覆盖 */
    .ant-popover-placement-left>.ant-popover-content>.ant-popover-arrow {
      display: none;
    }

    .ant-popover-inner {
      box-shadow: none;
    }

    .ant-popover-inner-content {
      padding: 0;
    }
  }

  &-tools-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin-bottom: 8px;
    cursor: pointer;
    .common();

    &:hover {
      background: fade(#ffff, 25%);
    }

    >div {
      width: @tool-min-width;
      height: @tool-min-width;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &-tools-theme,
  &-tools-zooms {
    .common();
  }

  &-tools-item {
    width: @tool-max-width;
    height: @tool-max-width;
    cursor: pointer;
    text-align: center;
    line-height: @tool-max-width;
    font-size: 16px;

    &:hover {
      background-color: rgba(10, 27, 57, 0.04);
    }
  }

  &-tools-theme-content {
    position: absolute;
    right: 0px;
    top: -16px;
    display: flex;
    border-radius: 2px;
    box-shadow: @box-shadow-1;

    >div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      cursor: pointer;
      background: #fff;

      &:last-child {
        padding-left: 0;
      }

      &:first-child {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }

      &:last-child {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }

      >div {
        width: 24px;
        height: 24px;
        border: solid 1px #fff;
        background-repeat: no-repeat;
        background-size: contain;
      }

      &:hover {
        >div {
          border: solid 1px #2B6DE5;
        }
      }
    }
  }

  &-marker-icon.anticon {
    font-size: 32px;
  }

}